/* poopins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0%;
    padding: 0%; */
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    width: 120px;
    height: 44px;
    flex-shrink: 0;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
    font-weight: 600;
}

/* header styles */
header {
    background: rgba(218, 132, 34, 0.333);
    padding: 20px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.4rem;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500px;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main section styles */
main {
    max-width: 1280px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 50px;
    padding-left: 50px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-title-1 {
    color: var(--Dark-03, #727272);
}

.teams-title-2 {
    color: var(--Dark-03, #151515);
    font-weight: 700;
}

.teams-title-3 {
    color: var(--Dark-03, #fab107);
    font-weight: 700;
}




/* responsive style  */

/* mobile devises */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }


}

/* tablets  */

@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}